{% block content %}
  <h2>ユーザー一覧</h2>

 <!-- メッセージを表示 -->
  {% if messages %}
    <ul>
      {% for message in messages %}
        <script>
          alert("{{ message }}");
        </script>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="get" style="margin-bottom: 10px;">
  <input type="text" name="username" placeholder="ユーザー名" value="{{ username_query }}">
  <input type="text" name="email" placeholder="メールアドレス" value="{{ email_query }}">
  <button type="submit">検索</button>
  </form>

  <table border="1" cellpadding="5">
    <tr>
      <th>No</th>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th>誕生日</th>
      <th>作成日時</th>
      <th>更新日時</th>
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'accounts:user_detail' user.pk %}">{{ user.username }}</a>
        </td>
        <td>{{ user.email }}</td>
        <td>{{ user.birthday|date:"Y-m-d" }}</td>
        <td>{{ user.created_at|date:"Y-m-d H:i" }}</td>
        <td>{{ user.updated_at|date:"Y-m-d H:i" }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6">登録されたユーザーはいません。</td>
      </tr>
    {% endfor %}
  </table>
  
<p >
    <a href="{% url 'accounts:signup' %}">新規ユーザー登録</a>
</p>

{% endblock %}